<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
	
</head>

<body>

<!--	<p th:text="'Time on the server is ' + ${theDate}" class="funny" />
	<form method="POST" action="/upload" enctype="multipart/form-data">
  	<input type="file" name="file" />
  	<input type="submit" value="Upload" />
	</form>
	
	<a href="/download/{filePath}">
  	<button>Download</button>
	</a>-->
	
</body>

</html>






